<a href="https://colab.research.google.com/github/Mchsnik/Practicum_ya/blob/main/ZadanieCrowd2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [84]:
import pandas as pd
import numpy as np

In [85]:
df = pd.read_csv("/content/imdb_top_250+(1)+(1).csv")

In [86]:
print(df.head(2))

   rank                      name  year  rating        genre certificate  \
0     1  The Shawshank Redemption  1994     9.3        Drama           R
1     2             The Godfather  1972     9.2  Crime,Drama           R

  run_time                                            tagline    budget  \
0   2h 22m  Fear can hold you prisoner. Hope can set you f...  25000000
1   2h 55m                         An offer you can't refuse.   6000000

  box_office                                              casts  \
0   28884504  Tim Robbins,Morgan Freeman,Bob Gunton,William ...
1  250341816  Marlon Brando,Al Pacino,James Caan,Diane Keato...

              directors                          writers
0        Frank Darabont      Stephen King,Frank Darabont
1  Francis Ford Coppola  Mario Puzo,Francis Ford Coppola

In [87]:
# группируем по году и находим средний рейтинг для каждого года
avg_rating_by_year = df.groupby('year')['rating'].mean()

In [88]:
# находим год с максимальным средним рейтингом
max_avg_rating_year = avg_rating_by_year.idxmax()

In [89]:
# Ответ на первый вопрос
print(max_avg_rating_year)

1972

In [90]:
# Преобразовываем "certificate" в верхний регистр для обеспечения единообразия
df['certificate'] = df['certificate'].str.upper()

In [91]:
# Создаем новый столбец для классификации фильмов по 10-летнему интервалу
df['decade'] = pd.cut(df['year'], bins=[1990, 2000, 2010], labels=['1991-2000', '2001-2010'])

In [92]:
# Подсчитаем количество фильмов с "certificate" = R за каждое десятилетие
r_count = df[df['certificate'] == 'R'].groupby('decade').size()

In [93]:
# Вычесляем разницу между двумя десятилетиями
difference = r_count['2001-2010'] - r_count['1991-2000']

In [94]:
# Ответ на второй вопрос
print(difference)

-11

In [95]:
# Функция для преобразования времени в минуты
def convert_time_to_minutes(time_str):
    minutes = 0
    time_list = time_str.split()

    for item in time_list:
        if 'h' in item:
            hours = int(item[:-1])
            minutes += hours * 60
        elif 'm' in item:
            minutes += int(item[:-1])

    return minutes

# Применяем функцию к столбцу 'run_time'
df['run_time'] = df['run_time'].apply(convert_time_to_minutes)

     rank                      name  year  rating                       genre  \
0       1  The Shawshank Redemption  1994     9.3                       Drama
1       2             The Godfather  1972     9.2                 Crime,Drama
2       3           The Dark Knight  2008     9.0          Action,Crime,Drama
3       4     The Godfather Part II  1974     9.0                 Crime,Drama
4       5              12 Angry Men  1957     9.0                 Crime,Drama
..    ...                       ...   ...     ...                         ...
245   246                  The Help  2011     8.1                       Drama
246   247               Dersu Uzala  1975     8.2   Adventure,Biography,Drama
247   248                   Aladdin  1992     8.0  Animation,Adventure,Comedy
248   249                    Gandhi  1982     8.0     Biography,Drama,History
249   250        Dances with Wolves  1990     8.0     Adventure,Drama,Western

    certificate  run_time                                            tagline  \
0             R       142  Fear can hold you prisoner. Hope can set you f...
1             R       175                         An offer you can't refuse.
2         PG-13       152                                    Why So Serious?
3             R       202       All the power on earth can't change destiny.
4      APPROVED        96  Life Is In Their Hands -- Death Is On Their Mi...
..          ...       ...                                                ...
245       PG-13       146                      Change begins with a whisper.
246           G       142  There is man and beast at nature's mercy. Ther...
247           G        90                     Wish granted! (DVD re-release)
248          PG       191             His Triumph Changed The World Forever.
249       PG-13       181  Inside everyone is a frontier waiting to be di...

            budget     box_office  \
0         25000000       28884504
1          6000000      250341816
2        185000000     1006234167
3         13000000       47961919
4           350000            955
..             ...            ...
245       25000000      216639112
246        4000000          14480
247  Not Available  Not Available
248       22000000       52767889
249       22000000      424208848

                                                 casts  \
0    Tim Robbins,Morgan Freeman,Bob Gunton,William ...
1    Marlon Brando,Al Pacino,James Caan,Diane Keato...
2    Christian Bale,Heath Ledger,Aaron Eckhart,Mich...
3    Al Pacino,Robert De Niro,Robert Duvall,Diane K...
4    Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...
..                                                 ...
245  Viola Davis,Emma Stone,Octavia Spencer,Bryce D...
246  Maksim Munzuk,Yuriy Solomin,Mikhail Bychkov,Vl...
247  Scott Weinger,Robin Williams,Linda Larkin,Jona...
248  Ben Kingsley,John Gielgud,Rohini Hattangadi,Ro...
249  Kevin Costner,Mary McDonnell,Graham Greene,Rod...

                    directors  \
0              Frank Darabont
1        Francis Ford Coppola
2           Christopher Nolan
3        Francis Ford Coppola
4                Sidney Lumet
..                        ...
245               Tate Taylor
246            Akira Kurosawa
247  Ron Clements,John Musker
248      Richard Attenborough
249             Kevin Costner

                                             writers     decade
0                        Stephen King,Frank Darabont  1991-2000
1                    Mario Puzo,Francis Ford Coppola        NaN
2    Jonathan Nolan,Christopher Nolan,David S. Goyer  2001-2010
3                    Francis Ford Coppola,Mario Puzo        NaN
4                                      Reginald Rose        NaN
..                                               ...        ...
245                     Tate Taylor,Kathryn Stockett        NaN
246    Akira Kurosawa,Yuriy Nagibin,Vladimir Arsenev        NaN
247             Ron Clements,John Musker,Ted Elliott  1991-2000
248                                      John Briley        NaN
249                                    Michael Blake        NaN

[250 rows x 14 columns]

In [99]:
# Выбор фильмов с годом выпуска от 1990 до 2022
df = df[(df['year'] >= 1990) & (df['year'] <= 2022)]

In [103]:
# Группировка по году и подсчет среднего значения время фильмов
average_runtimes = df.groupby('year')['run_time'].mean().astype(int)

In [105]:
# Нахождение медианы полученного списка
median_runtime = average_runtimes.median()

print(median_runtime)

129.0